<div class="modal-header">
    <h4 class="modal-title pull-left">Tambah data aspek indikator</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">×</span>
    </button>
 </div>
  <form>
  <div class="form-group">
      <label for="any">Nama aspek indikator</label>
      <input type="text" class="form-control">
  </div> 
  </form>
 <div class="modal-footer ">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Batal</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Simpan</button>
 </div>
<!-- <div class="modal-container d-flex justify-content-center align-items-center"  style="height: 20vh;">
    <h2>Hello World</h2>
</div> -->