<p>Kelola Aspek Indikator</p>
<hr>
<button type="button" class="btn btn-primary" (click)="openModal()" >Tambah Data</button>

<br>
<br>

<div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="20px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nama Aspek </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef style="padding: 0 20px;"> Aksi </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="example-button-row">
                        <button mat-icon-button style="margin: -5px;" (click)="onEditButtonClick(element)">
                          <mat-icon color="primary">create</mat-icon>
                        </button>
                        <button mat-icon-button style="margin: -5px;" (click)="onDeleteButtonClick(element)">
                          <mat-icon color="primary">delete</mat-icon>
                        </button>
                      </div>
                    </td>
                    
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>
</div>

<br>
<br>
<br>