/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.stats-cards {
    .mat-card {
      overflow: hidden;
    }
  }
  
  button{
    display: inline-block;
    margin-bottom: 0;
    position: center;
  }
  table {
    width: 100%;
  }
  
  .form-control {
    width: 100%;
    
  }
  
  .form-group {
    padding: 3%;
  }
  
  .modal-footer{
    position: center;
  }